*{
	margin:0;
	padding:0;
}
body{
	font-family:Arial,sans-serif;
}
h1{
	text-align: center;
	margin: 20px;
	text-decoration: underline;
	color: blue;
}
h2{
	margin: 10px 0px 0px 10px;
}
h2{
	text-decoration: underline;
	margin: 10px;
}
form{
	background-color: aliceblue;
	margin:200px;
	margin-top: 20px;
	border-radius:10px;;
}
.flex{
	align-items: center;
	justify-content: space-between;
}
.name{
	display: flex;
	justify-content: space-between;
}
input{
	margin:10px;
}
label{
	margin-left: 10px;
}
button{
	font-size: 15px;
}
.submit{
	display: flex;
    justify-content: center;
    padding: 20px;
}
/* .error{
	color: red;
	margin-left: 10px;
} */
.addressDetailing{
	display: flex;
	align-items: c
	enter;
}
.control input:focus{
	outline: 0;
}
.control.success input{
	color: #09c372;
}
.control.error input{
	border-color: #ff3860;
}
.control.error {
	color: #ff3860;
}