* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

h1 {
	text-align: center;
	margin: 20px;
	text-decoration: underline;
	color: blue;
}

h2 {
	margin: 10px 0px 0px 10px;
}

h2 {
	text-decoration: underline;
	margin: 10px;
}

#form {
	width: 300px;
	margin: 1vh auto 0 auto;
	padding: 20px;
	background-color: whitesmoke;
	border-radius: 4px;
	font-size: 12px;
}

#form h1 {
	display: flex;
	flex-direction: column;
}

.control {
	margin-top: 20px;
}

.control1 {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.control input,
.control textarea,
.control1 input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
}

.control input,
.control textarea,
.control1 input :focus {
	outline: 0;

}

.control.success input,
.control.success textarea {
	border-color: #09c372;
}

.control.error input,
.control.error textarea {
	border-color: #ff3860;

}

.control1 .error,
.control .error {
	color: rgb(233, 14, 14);
	font-size: 10px;

}

.submit {
	text-align: center;
	margin-top: 30px;
}